{% extends 'baseBack.html.twig' %}
{% block privateJS %}
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script defer src="{{asset('assets/js/courses.js')}}"></script>
{% endblock %}
{% block search %}
    <input type="text" id="searchCourse" onkeyup="searchCourse(this.value)" data-url="{{ path('search_course_back') }}" placeholder="Search here">
{% endblock %}
{% block body %}
<!-- Message Start -->
<div class="message">
    <div class="message-icon">
        <img src="assets/images/menu-icon/icon-6.png" alt="">
    </div>
    <div class="message-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic.</p>
    </div>
</div>
<!-- Message End -->
<!-- Admin Courses Tab Start -->
<div class="admin-courses-tab">
    <h3 class="title">Courses</h3>

    <div class="courses-tab-wrapper">
        <div class="courses-select">
            <select id="selectFilter" onchange="filterCourse(this.value)" data-url="{{ path('filter_course_back') }}">
                <option value="Oldest">Oldest First</option>
                <option value="Newest">Newest First</option>
                <option value="Most Registered">Most Registered</option>
                <option value="Most Rated">Most Rated</option>
            </select>
        </div>
        <div class="tab-btn">
            <a href="{{path('add_new_course')}}" class="btn btn-primary btn-hover-dark">New Course</a>
        </div>
    </div>
</div>
<!-- Admin Courses Tab End -->

<!-- Admin Courses Tab Content Start -->
<div class="admin-courses-tab-content">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="mainAllCourseDiv">
        {% for course in courses %}
            <!-- Courses Item Start -->
            <div class="courses-item">
                <div class="item-thumb">
                    <a href="{{ path('tutor_course_details', {'idCourse' : course.idcourse})}}">
                        <img src="{{ asset('contents/uploads/courses/' ~ course.image) }}" alt="Courses">
                    </a>
                </div>
                <div class="content-title">
                    <h3 ><a href="{{ path('tutor_course_details', {'idCourse' : course.idcourse})}}">{{ course.title }}</a></h3>
                </div>
                <div class="content-title">
                    <span class="title">{{ course.posteddate|date("Y-m-d") }}</span>
                </div>
                <div class="content-wrapper">

                    <div class="content-box">
                        <p>Price</p>
                        <span class="count">{{ course.price }} TND</span>
                    </div>

                    <div class="content-box">
                        <p>Registered</p>
                        <span class="count">{{ course.nbrregistred }}</span>
                    </div>

                    <div class="content-box">
                        <p>Course Rating</p>
                        <span class="count">
                                {{course.rate}}
                                <span class="rating-star">
                                    <span class="rating-bar" style="width: 0%;"></span>
                                </span>
                        </span>
                    </div>
                </div>
            </div>
            <!-- Courses Item End -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- Admin Courses Tab Content End -->
{% endblock %}